* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.3em;
}

nav {
  position: fixed;
  padding: 10px 10px 0 20px;
}

#nav-animation {
  z-index: -1;
  position: absolute;
  top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.inline {
  display: inline;
}
.top-menu-item {
  margin-left: 100px;
}
.top-menu {
  position: fixed;
  top: 0;
  margin-top: 17px;
  width: 100%;
}
.inc-dec-buttons {
  margin-top: 5px;
}
#pop-right-nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-top: 10px solid transparent;
  border-right: 20px solid rgba(200, 210, 240, 1);
  border-bottom: 10px solid transparent;
  cursor: pointer;
  margin-right: 153px;
  margin-top: 37px;
}

#right-nav {
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 10px;
  background: rgba(200, 210, 240, 0.5);
  border-radius: 10px 0 0 10px;
  width: 150px;
}

#inc-dec {
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
}

button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 254);
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  #inc-dec {
    font-size: 10px;
  }
  button {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }

  #pop-right-nav {
    margin-top: 25px;
  }
}
